__pycache__/
.ipynb_checkpoints/
**/__pycache__/**
**/.cache
**/.cache_column
db/
result/
*.pyc
*.pyd
*.pyo
*.pyc~
*.pyd~
*.pyo~
*.bak
*.tmp
*.swp
*.log
*.coverage
*.coverage.*
*.cache
*.cache.*
*.pytest_cache
*.pytest_cache.*
*.pytest_cache/
*.pytest_cache/v
*.pytest_cache/c
*.pytest_cache/n
*.pytest_cache/lastfailed
